* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    @font-face {
        font-family: "Poppins";
        src: url("/Resources/Poppins-SemiBold.otf");
    }
  
  body {
    background-color: black;
    padding: 60px 100px;
    font-family: Roboto;
  }
  h1 {
    text-align: center;
    color: white;
    text-decoration: underline solid;
    font-family: "Poppins",Ubuntu;
  }
  #container {
    margin-top: 70px;
    text-align: center;
    background: indianred;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 5px 5px 50px black;
    font-family: "Poppins",Roboto;
  }
  .inputDiv {
    display: inline-block;
  }
  .inp {
    padding: 5px 10px;
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  label {
    font-size: 20px;
    font-weight: 400;
  }